body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 62, 108);
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
